{% extends "base.html" %}
{% load static %}
{% block link_css %} 
    <link rel="stylesheet" href="{% static 'css/busqueda_styles.css' %}"> 
{% endblock %}

{% block contenido %}
<div class="busqueda-container">
    <label for="busqueda-compania" class="busqueda-label">Selecciona una compañía:</label>
    <select id="busqueda-compania" class="busqueda-select">
    </select>
    <button id="buscar-btn" class="buscar-btn">🔎 Buscar</button>
</div>

<div id="resultado-busqueda" class="busqueda-resultados"></div>

{% endblock %}

{% block link_script %}
    <script src="{% static 'scripts/busqueda_script.js' %}"></script>
{% endblock %}