{% extends "base.html" %}
{% load static %}
{% block link_css %} 
    <link rel="stylesheet" href="{% static 'css/busqueda_styles.css' %}"> 
{% endblock %}

{% block contenido %}
<div class="busqueda-container">
    <label for="busqueda-desarrollador" class="busqueda-label">Selecciona un desarrollador:</label>
    <select id="busqueda-desarrollador" class="busqueda-select"></select>
    <button id="buscar-btn" class="buscar-btn">🔎 Buscar</button>
</div>

<div id="resultado-busqueda" class="busqueda-resultados"></div>

{% endblock %}

{% block link_script %}
    <script src="{% static 'scripts/busqueda_desarrollador_script.js' %}"></script>
    <script src="{% static 'scripts/recomendacion_script.js' %}"></script>
{% endblock %}
