{% extends "base.html" %}
{% load static %}
{% block link_css %} 
    <link rel="stylesheet" href="{% static 'css/busqueda_styles.css' %}"> 
{% endblock %}

{% block contenido %}
<div class="busqueda-container">
    <label for="busqueda-nombre" class="busqueda-label">Introduce el nombre:</label>
    <input type="text" id="busqueda-nombre" class="busqueda-input">
    <button id="buscar-btn" class="buscar-btn">🔎 Buscar</button>
</div>

<div id="resultado-busqueda" class="busqueda-resultados"></div>
{% endblock %}

{% block link_script %}
    <script src="{% static 'scripts/busqueda_nombre_script.js' %}"></script>
    <script src="{% static 'scripts/recomendacion_script.js' %}"></script>
{% endblock %}
