{% extends "base.html" %}
{% load static %}
{% block link_css %} 
    <link rel="stylesheet" href="{% static 'css/busqueda_styles.css' %}"> 
{% endblock %}

{% block contenido %}
<div class="busqueda-container">
    <h2 class="busqueda-title">🔍 Selecciona un método de búsqueda</h2>

    <div class="busqueda-opciones">
        <a href="/busqueda/nombre" class="busqueda-btn">📅 Buscar por Nombre</a>
        <a href="/busqueda/plataforma" class="busqueda-btn">🎮 Buscar por Plataforma</a>
        <a href="/busqueda/desarrollador" class="busqueda-btn">👨‍💻 Buscar por Desarrollador</a>
        <a href="/busqueda/compania" class="busqueda-btn">🏢 Buscar por Compañía</a>
    </div>
</div>
{% endblock %}
