{% extends "base.html" %}
{% load static %}
{% block link_css %} <link rel="stylesheet" href="{% static 'css/database_styles.css' %}"> {% endblock %}
{% block contenido %}
<div class="carga-container">
    <p class="carga-text">Pulsa aquí para realizar la carga de la base de datos</p>
    <button id="btn-cargar" class="btn-neon">Cargar Base de Datos</button>
    <p id="status-message" class="status-message"></p> 
</div>

<!-- Nueva sección dentro de la caja para evitar que crezca fuera de la parte roja -->
<div class="stats-wrapper">
    <div class="stats-container">
        <p id="juegos-contador" class="stats-text">Juegos insertados: 0</p>
        <p id="plataformas-contador" class="stats-text">Plataformas insertadas: 0</p>
        <p id="desarrolladores-contador" class="stats-text">Desarrolladores insertados: 0</p>
        <p id="companias-contador" class="stats-text">Compañías insertadas: 0</p>
    </div>

    <!-- Botón de eliminar dentro de la misma sección -->
    <button id="btn-eliminar" class="btn-neon delete-btn">ELIMINAR<br>BASE DE DATOS</button>
</div>
{% endblock %}

{% block link_script %}<script src="{% static 'scripts/database_script.js' %}"></script>{% endblock %}
