/* Estilos generales de la pestaña de búsqueda */
.busqueda-container {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    width: 90%;
    max-width: auto;
    margin: 50px auto;
    text-align: center;
    align-items: center; /* Alinea en una única línea */
    justify-content: flex-start; /* Asegura que estén alineados en una línea */
    display: flex;
    overflow: hidden; /* Evita el desbordamiento del contenido */
}

/* Título de la búsqueda */
.busqueda-title {
    font-size: 1.8rem;
    color: yellow;
    text-shadow: 3px 3px 8px rgba(255, 204, 0, 0.8);
}

/* Contenedor de botones */
.busqueda-opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

/* Etiqueta de búsqueda */
.busqueda-label {
    font-size: 1rem;
    color: yellow;
    text-shadow: 2px 2px 6px rgba(255, 204, 0, 0.8);
    margin-right: 10px;
    white-space: nowrap; /* Evita saltos de línea */
}

/* Botones de búsqueda */
.busqueda-btn {
    background: linear-gradient(90deg, #ff00ff, #ffcc00);
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: all 0.3s;
}

.busqueda-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(255, 0, 255, 1);
}

/* Formulario de entrada */
.busqueda-formulario {
    margin-top: 20px;
}

/* Campo de entrada */
.busqueda-input {
    padding: 6px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    margin-right: 10px;
}

/* Botón de búsqueda */
.buscar-btn {
    font-size: 1rem;
    padding: 6px 12px;
    background: linear-gradient(90deg, #00ff00, #009900);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.8);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 100px;
}

.buscar-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 1);
}

/* Resultados de búsqueda */
.busqueda-resultados {
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.busqueda-select {
    flex-grow: 0; /* Permite que el select se ajuste sin romper el diseño */
    max-width: 300px; /* Ajusta el tamaño máximo */
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #000;
    color: white;
    border: 1px solid yellow;
}