.carga-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.carga-text {
    font-size: 2rem;
    color: yellow;
    text-shadow: 3px 3px 8px rgba(255, 204, 0, 0.8);
    margin-bottom: 20px;
}

.btn-neon {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #ff00ff, #ffcc00);
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.8);
    transition: all 0.3s ease-in-out;
}

.btn-neon:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 0, 255, 1);
}
